<section class="section services wrapper wrapper--services">
  <h2 class="section__title title-svg">Услуги и стоимость
    <svg width="48" height="22">
      <use xlink:href="img/sprite.svg#icon-logo"></use>
    </svg>
  </h2>
  <!-- <div class="slider-wrapper"> -->
    <div class="swiper">
      <ul class="swiper__list swiper-wrapper">
        {% for item in [
        {href: '#!', title: 'Обслуживание и администрирование раб. мест',
        price: '5000',
        descr: 'Аутсорсинг компьютеров: установка оборудования, настройка программ, интернета, wi-fi, подключение принтеров, диагностика работоспособности...',
        imgName: 'admin'},
        {href: '#!', title: 'Настройка и обслуживание серверов',
        price: '10000',
        descr: 'Администрирование серверов и серверных приложений, оптимизация работы оборудования, наблюдение за функционированием сетевых устройств',
        imgName: 'servers'},
        {href: '#!', title: 'ИТ-аудит',
        price: '5000',
        descr: 'Экспертная оценка ИТ-инфраструктуры компании для выявления проблем в работе и роста эффективности использования ИТ-систем',
        imgName: 'it-audit'},
        {href: '#!', title: 'Организация удаленного доступа',
        price: '3000',
        descr: 'Настройка подключения и управления несколькими компьютерами с 1 ПК',
        imgName: 'remote'},
        {href: '#!', title: 'Обслуживание офисной техники',
        price: '1500',
        descr: 'Подключение принтеров и сканеров, настройка, устранение неисправностей, подмена оборудования в рамках ИТ-обслуживания компаний',
        imgName: 'office-equipment'},
        {href: '#!', title: 'Администрирование 1С',
        price: '5000',
        descr: 'Администрирование серверов и серверных приложений, оптимизация работы оборудования, наблюдение за функционированием сетевых устройств',
        imgName: '1C'},
        {href: '#!', title: 'Защита компьютеров и сетей',
        price: '1000',
        descr: 'Подбор, установка и настройка антивирусной программы, обучение сотрудников навыкам безопасной работы в интернете',
        imgName: 'security'},
        {href: '#!', title: 'IP-телефония и видеонаблюдение',
        price: '3000',
        descr: 'Проектирование, монтаж и контроль систем видеонаблюдения. Настройка единой сети телефонии, распределения и учета звонков',
        imgName: 'IP'},
        {href: '#!', title: 'Монтаж и настройка Wi-fi',
        price: '3000',
        descr: 'Выберем оборудование спецаильно под параметры вашего помещения. Настроим беспроводную сеть.',
        imgName: 'wi-fi'}
        ] %}
        {% include 'components/services-item.html' %}
        {% endfor %}
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  <!-- </div> -->
</section>
