.footer-services {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include media(md) {
    flex-direction: row;
  }

  @include media(md) {
    justify-content: space-between;
  }
}

.footer-services__item {
  width: 100%;
  margin-bottom: 5px;

  @include media(md) {
    width: 50%;
  }

  @include media(lg) {
    width: 28%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(even) {
    @include media(md) {
      padding-left: 15px;
    }

    @include media(lg) {
      padding-left: 0;
    }
  }

  &:nth-child(even) {
    @include media(md) {
      padding-left: 15px;
    }

    @include media(lg) {
      padding-left: 0;
    }
  }

  &:nth-child(3n - 2) {
    @include media(lg) {
      width: 38%;
    }
  }
}

.footer-services__link {
  width: fit-content;
  height: 100%;
  padding: 5px 0;
  display: block;

  font-size: 14px;
  line-height: 100%;
  color: $white;
  text-decoration: none;

  transition: color $trans--300;

  &:hover,
  &:focus {
    color: $logo_light;
  }

  &:active {
    color: $logo_dark;
  }

  @include media(md) {
    font-size: 16px;
  }
}
