.footer-logo {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;

  p {
    @include reset-text;
    width: 30%;
  }
}

.footer-logo__link {
  margin-right: 20px;

  @include vp--360 {
    margin-right: 34px;
  }
}

.footer-logo__links {
  @include reset-list;
  width: 100%;

  display: flex;
  flex-direction: column;

  li {
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    width: fit-content;
    height: 100%;
    padding: 5px 0;
    display: block;

    font-size: 16px;
    line-height: 100%;
    color: $logo_light;
    text-decoration: underline;

    transition: color $trans--300;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:active {
      color: $logo_dark;
    }
  }
}
