.footer-services {
  @include reset-list;

  display: flex;
  flex-direction: column;
}

.footer-services__item {
  width: 100%;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-services__link {
  width: 100%;
  height: 100%;
  padding: 5px 0;

  font-size: 14px;
  line-height: 250%;
  color: $white;
  text-decoration: none;

  transition: color $trans--300;

  &:hover,
  &:focus {
    color: $logo_light;
  }

  &:active {
    color: $logo_dark;
  }
}
