.slider {
  position: relative;
  margin: 0 auto;

  padding-top: 15px;
  padding-bottom: 15px;
  overflow-x: hidden;

  @include media( sm ) {
    width: 544px;
  }

  @include media( md ) {
    width: 718px;
  }

  @include media( xl ) {
    width: 1210px;
  }

  @include media( xl ) {
    width: 1255px;
  }
}

.slider__list {
  @include reset-list;
  height: fit-content;
  width: max-content;
  display: flex;
  transition: all $trans--300;

  @include media( xl ) {
    // width: 1172px;
    padding-left: 71.5px;
  }
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 203px;
  margin-right: 47px;
  padding-bottom: 25px;

  @include media( sm ) {
    margin-right: 138px;
  }

  @include media( md ) {
    margin-right: 54.5px;
  }

  @include media( xl ) {
    // margin-right: 132.666667px;
    margin-right: 100px;
  }

  @include media( xxl ) {
    margin-right: 100px;
  }

  &:nth-of-type(even) {
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      margin-right: 0;
    }
  }

  &:nth-of-type(3n+3) {
    @media only screen and (min-width: 768px) and (max-width: 1289px) {
      margin-right: 0;
    }
  }

  // &:nth-of-type(4n+4) {
  //   @include media( xl ) {
  //     margin-right: 0;
  //   }
  // }

  &:nth-of-type(4n+4) {
    @include media( xl ) {
      margin-right: 71.5px;
    }
  }

  // &:nth-of-type(4n+4) {
  //   @include media( xl ) {
  //     margin-right: 55px;
  //   }
  // }
}

.slider__btns {
  @include reset-list;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 93px;
}

.slider__btn {
  width: 48px;
  height: 48px;

  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

  transition: background-color $trans--300;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hover_arrow;

    svg {
      --icon-arrow: white;
    }
  }

  svg {
    width: 17px;
    height: 16px;

    vertical-align: middle;
    --icon-arrow: #{$main-light};
    transition: fill $trans--300;
  }

  &--right {
    transform: rotate(180deg);

    &:hover,
    &:focus {
      // margin-left: 5px;

      svg {
        animation: 1s bounce_right infinite;
      }
    }
  }

  &--left {
    &:hover,
    &:focus {
      // margin-right: 5px;

      svg {
        animation: 1s bounce_right infinite;
      }
    }
  }

  &:active {
    opacity: 0.7;
  }
}
